@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* Some General Styling  */
* {
  box-sizing: border-box;
  
}
body{
  background-size: cover;
  /* background-color: rgb(255, 227, 227); */
  background-image: url("/Users/janajasa/Documents/react-multi-pg/testcase1/src/Pages/dogecoin_2.png");
  /* The width is 60%, by default */

}
.hide {
  display: none;
}
.items:hover > .hide {
  display: block;
  color: red;
}
h1{
  color: #ffffff;

}


.home {
  transition: 0.5s;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0)   60%, rgb(0, 0, 0,0));
  padding: 20px;
  color: white;
  float: left;
  width: 25%; /* The width is 25%, by default */
}
.items{
  margin: 1vw;
  float: left;
  text-align: center;
  width: calc(76vw / 2);
  height: calc(76vw / 2);
  background-color: rgb(255, 255, 255, 0.5);
  transition: 0.5s;
  border-radius: 15px;
  background-size: cover;
} 

.resource_items{
  margin: 1vw;
  float: center;
  text-align: center;
  width: calc(80vw);
  height: calc(76vw / 2);
  color: white;
  background-color: rgba(124, 124, 124);
  
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

button {
  display: inline-block;
  /* vertical-align: middle; */
  border-radius: 30px;
  /* margin: .20rem; */
  font-size: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
}

button:hover {
  border: 1px solid #666666;
  background: #666666;
  color: #ffffff;
}   
.items:hover{
  /* change on hover */
  background-color: rgba(255, 255, 255, 0.95);
  transform: scale(1.05);

}
.contact:hover, .home:hover, .projects:hover, .resources:hover {
      /* border: 1px solid red; */
      text-decoration: underline;
}
@media all and (max-width:600px){
  .items{
    margin-bottom: 5vw;
    width: 78vw;
    height:100vw;

      background-color: rgb(240, 240, 240);
  }
  .center {
    margin: auto;
    width: 20vw;
    height:20vw;
    /* border: 3px solid green; */
    padding: 10px;
  }
  .center  .button {
    margin: 0;
    font-size: 210vw;
    /* margin-left: 20vw; */
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

  }

} 